---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Sam Wu" description="About Sam Wu">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by! Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Sam Wu Headshot"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						As an AI and Genomics Researcher, I've taken my talents to the <a href="https://www.cifulab.com/">Cifuentes Lab of RNA Regulation</a>,
						where we combine genomic and machine learning to uncover the fundamental processes of RNA regulation both at mechanistic and systems level.
						The models I've developed have made strides in predicting protien stability and identifying key features in RNA binding proteins, both of which play
						a large role in disease diagnostics and therapeutics (see <a href="https://www.sciencedirect.com/science/article/pii/S2468054024001380">Recent advances in clinical application of miRNAs</a>). My
						hope is to advance machine learning techniques to revolutionize the field of medicine. 
					</p>
					<p>
						I've also utilized these skills in the field of law, working with Talia Schwartz of UC Berkely Law. In the Law Lab, I apply my background in
						sentiment analysis and LLMs to produce papers on AI bias an dispute resolution. 
					</p>
					<p>
						
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Mathematics, Boston University 2024</p>
					<p>Computer Science, Boston University 2024</p>
					<p>Masters in AI, Boston University 2025</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p> Python, Java, C++, C, MatLab, React, OCaml, Astro, SQL, TypeScript, Bash/Shell</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
